<div class="left col-md-2">
  <ul>
    <li><i class="fas fa-newspaper"></i>ニュース</li>
    <li><i class="fab fa-facebook-messenger"></i>Messenger</li>
    <li><i class="fas fa-tv"></i>Watch</li>
    <li>発見</li>
    <li><i class="fab fa-facebook-square"></i>ようこそ</li>
    <li><i class="fas fa-flag"></i>ページ</li>
  </ul>
</div>
