.account p{
  margin: 0;
  padding-left: 390px;
}

.account p:first-child{
  padding-top: 50px;
}

.account p:last-child{
  margin-top: 10px;
}

.profile{
  padding-top: 80px;
  margin: 30px auto;
}

.profile h1{
  font-size: 60px;
}

.profile p{
  padding-top: 20px;
  font-size: 30px;
}
